.header {
  border-bottom: 1px solid #ececec;
}

.no-border {
  border-bottom: 0px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__menu--svg {
  margin-left: auto;
  fill: #000000;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}
