.footer-cont {
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-all {
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.address {
  color: var(--tertiary-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.footer-list:not(:last-child) {
  margin-top: 0;
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
