.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.section--bottom {
  padding-top: 0px;
  @media screen and (max-width: 1199px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.work-list {
  display: flex;
}

img {
  display: block;
}

li + .work-list__items {
  margin-left: 30px;
}
.work-list__items {
  position: relative;
}

.container-work-fon {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-fon-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
