.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
