@mixin logo-func($color, $family, $size, $height, $decoration, $pt, $pb) {
  color: $color;
  font-family: $family;
  font-size: $size;
  line-height: $height;
  text-decoration: $decoration;
  padding-top: $pt;
  padding-bottom: $pb;
}

.logo {
  @include logo-func(#2196f3, $logoFont, 24px, 1.16, none, 16px, 16px);
  @media screen and (min-width: 768px) {
    @include logo-func(#2196f3, $logoFont, 24px, 1.16, none, 0, 0);
  }
  @media screen and (min-width: 1200px) {
    @include logo-func(#2196f3, $logoFont, 26px, 1.19, none, 0, 0);
  }
}

.logo-text {
  color: #000000;
}

.footer-logo-text {
  color: var(--tertiary-color);
}
