:root {
    --main-color: #757575;
    --secondary-color: #212121;
    --tertiary-color: #ffffff;
    --hover-color: #2196f3;
    --background-color: #2f303a;
    --background-color-btn: #f5f4fa;
}

$logoFont: "Raleway";

